.label_password{
  position: relative;
  display: flex;
  flex-direction: column;
}
.input_password{
  padding: 5px 30px 5px 10px;
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
}

.eyeBtn{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 33px;
  right: 10px;
  padding: 0;
  width:14px;
  height: 12px;

  background-color: transparent;
  border:none;
}

